/* * {
  scroll-behavior: smooth;
} */
.App {
  text-align: center;
  background-color: gray;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  /* scroll-behavior: smooth; */

  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  /* overflow: hidden; */
}

.example::-webkit-scrollbar {
  display: none;
}
